.App {
  text-align: center;
}
* {
  font-family: "Open Sans", sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@use postcss-preset-env {
  stage: 0;
}

/* config.css */

:root {
  --baseColor: #c2c5c9;
}

/* helpers/align.css */

.align {
  display: grid;
  place-items: center;
  margin-top: 180px;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
}

/* helpers/hidden.css */

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* helpers/icon.css */

:root {
  --iconFill: var(--baseColor);
}

.icons {
  display: none;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: var(--iconFill);
  inline-size: 1em;
  vertical-align: middle;
}

/* layout/base.css */

:root {
  --htmlFontSize: 100%;

  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
}

body {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);

  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-block-size: 100vh;
}

/* modules/anchor.css */

:root {
  --anchorColor: #eee;
}

a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* modules/form.css */

:root {
  --formGap: 0.875rem;
}

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type="submit"] {
  cursor: pointer;
}

.form {
  display: grid;
  gap: var(--formGap);
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  inline-size: 100%;
}

.form__field {
  display: flex;
}

.form__input {
  flex: 1;
}

/* modules/login.css */

:root {
  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;

  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;

  --loginLabelBackgroundColor: #363b41;

  --loginSubmitBackgroundColor: #085593;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: #04457a;
}

.login {
  color: var(--loginColor);
}

.login label,
.login input[type="text"],
.login input[type="password"],
.login input[type="submit"] {
  border-radius: var(--loginBorderRadus);
  padding: 1rem;
}

.login label {
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}

.login input[type="password"],
.login input[type="text"] {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login input[type="password"]:focus,
.login input[type="password"]:hover,
.login input[type="text"]:focus,
.login input[type="text"]:hover {
  background-color: var(--loginInputHoverBackgroundColor);
}

.login input[type="submit"] {
  background-color: var(--loginSubmitBackgroundColor);
  color: var(--loginSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
}

.login input[type="submit"]:focus,
.login input[type="submit"]:hover {
  background-color: var(--loginSubmitHoverBackgroundColor);
}

/* modules/text.css */

p {
  margin-block: 1.5rem;
}

.text--center {
  text-align: center;
}

i {
  width: 15px;
  margin-left: 15px;
}

form {
  padding: 15px;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gpaforms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gpaforms select {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 4px solid #085593;
  width: 350px;
  color: black;
}

.gpaforms form input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 4px solid #085593;
  width: 350px;
  color: black;
}

.gpaforms label {
  color: white;
}

.custom-btn {
  margin-left: 12px;
  margin-top: 10px;
  width: 120px;
  height: 40px;
  background-color: #1482dc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: none;
}

.custom-btn:hover {
  background-color: transparent;
}

form .entry {
  display: flex;
  flex-direction: column;
  background-color: #04457a;
}

.totalgpa {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
}

a {
  cursor: pointer;
}

.panelForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.formInput {
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: white;
  background-color: #434a52;
  width: 16rem;
  font-size: 1.5rem;
}

.panelForm button {
  border: 4px solid #085593;
  border-radius: 5px;
  color: white;
  background-color: #085593;
  font-weight: bold;
  width: 16rem;
}
.panelForm input {
  font-size: 1rem;
}

.panelForm i {
  margin-right: 0.5rem;
}

.panelForm select {
  color: white;
  width: 16rem;
}

.links {
  display: flex;
  flex-direction: column;
}
.panelForm label {
  display: flex;
  flex-direction: column;
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userList a {
  margin: 16px;
}
